# IDE配置
.idea

# git相关
**/.git
**/.gitignore
**/.gitattributes

# 本地构建相关
**/.gradle
**/.kotlin
**/build

# 文档
**/README.md

# 本地脚本
**/script
**/gradlew
**/gradlew.bat

# docker相关文件
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
